<nav class="navbar navbar-dark p-3 bg-secondary">
  <h1 class="bg-secondary fs-1">Tech Blog</h1>
  <div class="justify-content-end d-flex flex-row">
    <a class="nav-link p-3 fs-2" href="#">Dashboard</a>
    <button type="button" class="btn btn-warning">Login</button>
  </div>
</nav>

<div class="text-white fs-1">{{value}}</div>
<p class=="text-white fs-1">{{value}}</p>